[settings]
DEBUG=1
TESTING=0
LOCALE=en_EN.utf8
APP_NAME=flaskel
APP_HOST=127.0.0.1
APP_PORT=5000
FLASK_APP=app:app
FLASK_ENV=development
SERVER_NAME=api.flask.local:5000
CONF_PATH=res
APP_CONFIG_FILE=config.py
REDIS_URL=redis://127.0.0.1:6379
SQLALCHEMY_DATABASE_URI=sqlite:///db.sqlite
BASIC_AUTH_PASSWORD=admin
BASIC_AUTH_USERNAME=admin
# PID_FILE=.%(APP_NAME)s.pid
# PROC_NAME=%(APP_NAME)s
# TIMEOUT=30
# KEEPALIVE=3
# BACKLOG=2048
# WORKERS=8
# WORKER_CLASS=meinheld.gmeinheld.MeinheldWorker
# HTTP_DUMP_REQ_BODY=1
# HTTP_DUMP_RESP_BODY=0
# TEMPLATES_AUTO_RELOAD=%(DEBUG)
# EXPLAIN_TEMPLATE_LOADING=0
# APIDOCS_ENABLED=1
# REDIS_CONN_TIMEOUT=0.05
# MAIL_DEBUG bool=%(DEBUG)
# MAIL_SERVER=sendria.local
# MAIL_PORT=62000
# ADMIN_EMAIL=admin
# ADMIN_PASSWORD=admin
# MAIL_DEFAULT_SENDER=admin@mail.com
# MAIL_DEFAULT_RECEIVER=admin@mail.com
# PREFERRED_URL_SCHEME=http
# IPBAN_COUNT=5
# IPBAN_SECONDS=3600
# LOG_BUILDER=text
# LOG_APP_NAME=%(APP_NAME)s
# LOG_LOGGER_NAME=%(FLASK_ENV)s
# LOG_REQ_SKIP_DUMP=1
# LOG_RESP_SKIP_DUMP=1
# LOG_RESP_HEADERS=
# LOG_REQ_HEADERS=
# CF_STRICT_ACCESS=0
# VERSION_STORE_MAX=6
# VERSION_CACHE_EXPIRE=60
# HTTP_PROTECT_BODY=0
# USE_X_SENDFILE=0
# ENABLE_ACCEL=1
# WSGI_WERKZEUG_LINT_ENABLED=0
# WSGI_WERKZEUG_PROFILER_ENABLED=0
# SQLALCHEMY_ECHO=0
# RATELIMIT_ENABLED=1
# RATELIMIT_HEADERS_ENABLED=1
# RATELIMIT_IN_MEMORY_FALLBACK_ENABLED=1
# SCHEDULER_AUTO_START=1
# SCHEDULER_API_ENABLED=0
# CACHE_KEY_PREFIX=%(APP_NAME)s
