# you must use a wsgi http server like: uwsgi
# with http socket
#

https://<SERVER_NAME> {
    root <PATH>

    proxy /prefix <HOST>:<IP> {
        without /prefix
        transparent
        header_upstream X-Forwarded-Prefix /prefix
        except /static  # static are served via: root <PATH>
    }
}
