-c requirements.txt
-c requirements-test.txt

twine
wheel
black
flake8
pip-tools
pylint
pylint-flask
pylint-flask-sqlalchemy
tox
bump2version
pipdeptree
mypy
sqlalchemy-stubs
liccheck
safety
isort
autoflake

types-cryptography
types-pyOpenSSL
types-redis
types-requests
types-urllib3
types-waitress
types-setuptools<57.4.17
types-xmltodict
types-python-dateutil

# constraints
#
safety<2.3.5
